* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.header {
    text-align: center;
    margin-bottom: 15px;
}

.main {
    width: 75%;
    margin: auto;
}

.svg-container {
    width: calc(100% - 4px);
    padding: 0 1px 0 1px;
    border: 1px #dadada solid;
}


/* SVG STYLING */
.vertex {
    opacity: 1;
    radius: 5;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;   
}

.vertex.removed {
    opacity: 0;
}

.vertex.defocused {
    opacity: 0.15;
}

.median {
    stroke: steelblue;
    stroke-width: 0.5;
    fill: none;
    opacity: 1;
}

.bridge {
    stroke: grey;
    stroke-width: 0.5;
    fill: none;
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; 
}

.bridge.actual {
    stroke: #00c2ff;
    stroke-dasharray: 5;
}

.bridge.actual.found {
    stroke: #ff00ff;
    stroke-dasharray: none;
}

.bridge.trial {

}

.bridge.test {
    stroke: #ff00ff;
}

.bridge.removed, .median.removed {
    opacity: 0 !important;
}

.bounding-poly {
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; 

}

.bounding-poly.removed {
    opacity: 0 !important;
}

/* GUIDE STYLING */
.guide-container {
    height: 100px;
    background-color: #e6e6e6;
    margin-top: -3px;
    font-size: 14px;
}

.prev-button, .next-button {
    width: 73px;
    height: 100%;
    background-color: #cbdeea;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    color: rgba(0,0,0,1);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.prev-button p, .next-button p {
    text-align: center;
    margin-top: 33px;
}

.prev-button.disabled, .next-button.disabled {
    background-color: #e0e0e0;
    cursor: default;
    color: rgba(0, 0, 0, 0.25);
}

.text-container {
    margin-left: -2.75px;
    margin-right: -2.75px;
    width: calc(100% - 148px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

#instruction {
    padding: 5px 15px 5px 15px;
    text-align: center;
}